{{ ansible_managed | comment }}

[Unit]
Description=A oneshot service to load iptables rules
After=network.target

[Service]
Type=oneshot
ExecStart={{ whitelist_custom_firewall_restore_path }}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
